<section data-ng-controller="HomeController">
	<div class="container">
		<h3>Portal de Usuarios</h3>
		<div style="margin-top:2%" class="row">
			<div class="col-xs-2 col-xs-offset-3">
				<img class="img-responsive" src="res/ford.png">
			</div>
			<div class="col-xs-2">
				<img class="img-responsive" src="res/mazda.png">
			</div>
			<div class="col-xs-2">
				<img class="img-responsive" src="res/lincoln.png">
			</div>
		</div>
		<div class="row">
			<button class="btn btn-warning" ng-click="selectAll()">Seleccionar Todos</button>
			<button class="btn btn-warning" ng-click="openModal()">Enviar Notificación</button>
			<table style="margin-top:2%" class="table table-hover">
			  <tr>
			  	<th>Notificar</th>
				<th>Nombre</th>
				<th>Edad</th>
				<th>Correo</th>
			  </tr>
			  <tr ng-repeat="user in users">
			  	<td><input type="checkbox" ng-model="user.selected" /></td>
				<td>{{user.firstName}} {{user.lastName}}</td>
				<td>{{user.age}}</td>
				<td>{{user.email}}</td>
			  </tr>
			</table>
		</div>
	</div>
</section>
